.App {
  text-align: center;
  max-width: 1200px;
  border: 1px solid white;
  margin: 0 auto;
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: 15px;
  color: white;
  font-family: monospace;
  margin: 40px;
  opacity: 0.5;
}

.App-header p a {
  text-decoration: none;
  color: white;
}
