.search-bar {
  width: 600px;
  height: 30px;
  border-radius: 5px;
}

.submit-button {
  width: 100px;
  height: 30px;
  background-color: lightslategray;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
